<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="">
            <a class="navbar-brand" href="/">TaskMan</a>
            <a class="navbar-brand toggle_sidebar" ><i class="fa fa-bars"></i></a>
        </div>
        <!-- Nav Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="">
            <ul class="nav navbar-nav side-nav" id="sidebar">
                <li class="text-right visible-xs">
                    <a href="javascript:void(0);"><i class="fa fa-fw fa-arrow-left close-sidebar"></i></a>
                </li>

                <li>
                    <a href="{% url 'task-list' %}" data-toggle="collapse" data-target="#collapse-2"><i class="fa fa-fw fa-list"></i> Tasks</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" data-toggle="collapse" data-target="#collapse-2"><i class="fa fa-fw fa-list"></i> Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
